build
venv
venv3
dist
.idea
.project
*egg-info*
*.iml
pycons3rt3/*.pyc
pycons3rt3/*.pyo
pycons3rt3/MANIFEST
pycons3rt3/awsapi/*.pyc
pycons3rt3/bin
pycons3rt3/build
pycons3rt3/venv
pycons3rt3/__pycache__
*.txt
*.md
!README.md
sample-configs
.git
